In [1]:
##importing the csv into the notebook
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
from sklearn.cluster import KMeans
from sklearn.cluster import kmeans_plusplus
from sklearn.neighbors import NearestNeighbors
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import time
from sklearn.metrics import silhouette_samples, silhouette_score
from mpl_toolkits import mplot3d 
from mpl_toolkits.mplot3d import Axes3D
sb.set() # set the default Seaborn style for graphics
pd.options.mode.chained_assignment = None
scaler = MinMaxScaler() #you might need to change this according to the data set we have

In [2]:
combined = pd.read_csv("./combined.csv", index_col = [0]) #import fresh data

In [3]:
combined = combined.rename(columns = {'lng_y':'lng_mrt', 'lat_y':'lat_mrt','lng_x':'lng_hdb', 'lat_x':'lat_hdb', 'distance': 'mahattan_distance', 'travel_distance':'mrt_cbd_dist', 'travel_time':'mrt_cbd_time'})

In [4]:
combined = combined[2155:2255]

In [5]:
import requests
import json# call the OSMR API

i=1


def router(row):
    lon_1, lat_1, lon_2, lat_2 = row['lng_hdb'], row['lat_hdb'], 103.8513, 1.2830
    
    global i
    r = requests.get(f"http://router.project-osrm.org/route/v1/car/{lon_1},{lat_1};{lon_2},{lat_2}?overview=false""")# then you load the response using the json libray
    # by default you get only one alternative so you access 0-th element of the `routes`
    
    routes = json.loads(r.content)
    # print(routes)
    route_1 = routes.get("routes")[0]
    # print(f"Overall, the route data is:\n{route_1}\n")
    seconds = route_1['legs'][0]['duration']
    #print(f"Duration: {seconds}sec ({seconds/60:.2f} min )")
    print("row", i)
    print(route_1['legs'][0]['distance'])
    i += 1
    return float(route_1['legs'][0]['distance']), float(seconds/60.0)

In [6]:
combined[['hdb_cbd_distance', 'hdb_cbd_time']]  = combined.apply(router, axis=1, result_type='expand')

row 1
18976.4
row 2
18746.3
row 3
18746.3
row 4
18746.3
row 5
18746.3
row 6
18928.6
row 7
18928.6
row 8
18928.6
row 9
18928.6
row 10
18912.8
row 11
18912.8
row 12
18912.8
row 13
18912.8
row 14
18982.4
row 15
18982.4
row 16
18982.4
row 17
18982.4
row 18
18945.7
row 19
18945.7
row 20
18945.7
row 21
18945.7
row 22
18983.4
row 23
18983.4
row 24
18983.4
row 25
18983.4
row 26
18916.1
row 27
18916.1
row 28
18916.1
row 29
18916.1
row 30
18977.3
row 31
18977.3
row 32
18977.3
row 33
18977.3
row 34
19033.2
row 35
19033.2
row 36
19033.2
row 37
19033.2
row 38
18975.2
row 39
18975.2
row 40
18975.2
row 41
18975.2
row 42
19162.7
row 43
19162.7
row 44
19162.7
row 45
19162.7
row 46
19294.7
row 47
19294.7
row 48
19294.7
row 49
19294.7
row 50
19269.6
row 51
19269.6
row 52
19269.6
row 53
19269.6
row 54
19242.4
row 55
19242.4
row 56
19242.4
row 57
19242.4
row 58
19223.3
row 59
19223.3
row 60
19223.3
row 61
19223.3
row 62
19170
row 63
19170
row 64
19170
row 65
19170
row 66
19157.3
row 67
19157.3
row 68
19157.3
row 69
19157.3
row 70
19175.7
row 71
19175.7
row 72
19175.7
row 73
19175.7
row 74
22975.6
row 75
22975.6
row 76
22975.6
row 77
22975.6
row 78
23042.7
row 79
23042.7
row 80
23042.7
row 81
23042.7
row 82
22904.9
row 83
22904.9
row 84
22904.9
row 85
22904.9
row 86
18879.5
row 87
18879.5
row 88
18879.5
row 89
18879.5
row 90
22948.7
row 91
22948.7
row 92
22948.7
row 93
22948.7
row 94
22957.6
row 95
22957.6
row 96
22957.6
row 97
22957.6
row 98
22955.2
row 99
22955.2
row 100
22955.2

In [7]:
combined

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,stop_id,line,no,lng_mrt,lat_mrt,mahattan_distance,mrt_cbd_dist,mrt_cbd_time,hdb_cbd_distance,hdb_cbd_time
2155,10,TECK WHYE AVE,12,1977,Y,N,N,Y,N,N,...,BP5,BP,107,103.758034,1.378619,20966.206584,18154.7,22.730000,18976.4,24.861667
2156,101,TECK WHYE LANE,13,1988,Y,N,N,N,N,N,...,BP3,BP,72,103.749055,1.378603,21961.046526,22293.6,23.813333,18746.3,23.641667
2157,101,TECK WHYE LANE,13,1988,Y,N,N,N,N,N,...,BP4,BP,146,103.753712,1.376685,21231.245169,18692.3,23.481667,18746.3,23.641667
2158,101,TECK WHYE LANE,13,1988,Y,N,N,N,N,N,...,BP14,BP,149,103.760140,1.380321,20921.414088,17995.8,22.936667,18746.3,23.641667
2159,101,TECK WHYE LANE,13,1988,Y,N,N,N,N,N,...,BP5,BP,107,103.758034,1.378619,20966.206584,18154.7,22.730000,18746.3,23.641667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2250,121,TECK WHYE LANE,11,1988,Y,N,N,N,N,N,...,BP14,BP,149,103.760140,1.380321,20921.414088,17995.8,22.936667,22957.6,25.985000
2251,121,TECK WHYE LANE,11,1988,Y,N,N,N,N,N,...,BP5,BP,107,103.758034,1.378619,20966.206584,18154.7,22.730000,22957.6,25.985000
2252,122,TECK WHYE LANE,11,1988,Y,N,N,Y,N,N,...,BP3,BP,72,103.749055,1.378603,21961.046526,22293.6,23.813333,22955.2,26.088333
2253,122,TECK WHYE LANE,11,1988,Y,N,N,Y,N,N,...,BP4,BP,146,103.753712,1.376685,21231.245169,18692.3,23.481667,22955.2,26.088333
2254,122,TECK WHYE LANE,11,1988,Y,N,N,Y,N,N,...,BP14,BP,149,103.760140,1.380321,20921.414088,17995.8,22.936667,22955.2,26.088333

In [8]:
import requests
import json# call the OSMR API

i=1


def router2(row):
    lon_1, lat_1, lon_2, lat_2 = row['lng_hdb'], row['lat_hdb'], row['lng_mrt'], row['lat_mrt']
    
    global i
    r = requests.get(f"http://router.project-osrm.org/route/v1/car/{lon_1},{lat_1};{lon_2},{lat_2}?overview=false""")# then you load the response using the json libray
    # by default you get only one alternative so you access 0-th element of the `routes`
    
    routes = json.loads(r.content)
    # print(routes)
    route_1 = routes.get("routes")[0]
    # print(f"Overall, the route data is:\n{route_1}\n")
    seconds = route_1['legs'][0]['duration']
    #print(f"Duration: {seconds}sec ({seconds/60:.2f} min )")
    print("row", i)
    print(route_1['legs'][0]['distance'])
    i += 1
    return float(route_1['legs'][0]['distance']), float(seconds/60.0)

In [9]:
combined[['hdb_mrt_distance', 'hdb_mrt_time']]  = combined.apply(router, axis=1, result_type='expand')

row 1
18976.4
row 2
18746.3
row 3
18746.3
row 4
18746.3
row 5
18746.3
row 6
18928.6
row 7
18928.6
row 8
18928.6
row 9
18928.6
row 10
18912.8
row 11
18912.8
row 12
18912.8
row 13
18912.8
row 14
18982.4
row 15
18982.4
row 16
18982.4
row 17
18982.4
row 18
18945.7
row 19
18945.7
row 20
18945.7
row 21
18945.7
row 22
18983.4
row 23
18983.4
row 24
18983.4
row 25
18983.4
row 26
18916.1
row 27
18916.1
row 28
18916.1
row 29
18916.1
row 30
18977.3
row 31
18977.3
row 32
18977.3
row 33
18977.3
row 34
19033.2
row 35
19033.2
row 36
19033.2
row 37
19033.2
row 38
18975.2
row 39
18975.2
row 40
18975.2
row 41
18975.2
row 42
19162.7
row 43
19162.7
row 44
19162.7
row 45
19162.7
row 46
19294.7
row 47
19294.7
row 48
19294.7
row 49
19294.7
row 50
19269.6
row 51
19269.6
row 52
19269.6
row 53
19269.6
row 54
19242.4
row 55
19242.4
row 56
19242.4
row 57
19242.4
row 58
19223.3
row 59
19223.3
row 60
19223.3
row 61
19223.3
row 62
19170
row 63
19170
row 64
19170
row 65
19170
row 66
19157.3
row 67
19157.3
row 68
19157.3
row 69
19157.3
row 70
19175.7
row 71
19175.7
row 72
19175.7
row 73
19175.7
row 74
22975.6
row 75
22975.6
row 76
22975.6
row 77
22975.6
row 78
23042.7
row 79
23042.7
row 80
23042.7
row 81
23042.7
row 82
22904.9
row 83
22904.9
row 84
22904.9
row 85
22904.9
row 86
18879.5
row 87
18879.5
row 88
18879.5
row 89
18879.5
row 90
22948.7
row 91
22948.7
row 92
22948.7
row 93
22948.7
row 94
22957.6
row 95
22957.6
row 96
22957.6
row 97
22957.6
row 98
22955.2
row 99
22955.2
row 100
22955.2

In [10]:
combined

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,no,lng_mrt,lat_mrt,mahattan_distance,mrt_cbd_dist,mrt_cbd_time,hdb_cbd_distance,hdb_cbd_time,hdb_mrt_distance,hdb_mrt_time
2155,10,TECK WHYE AVE,12,1977,Y,N,N,Y,N,N,...,107,103.758034,1.378619,20966.206584,18154.7,22.730000,18976.4,24.861667,18976.4,24.861667
2156,101,TECK WHYE LANE,13,1988,Y,N,N,N,N,N,...,72,103.749055,1.378603,21961.046526,22293.6,23.813333,18746.3,23.641667,18746.3,23.641667
2157,101,TECK WHYE LANE,13,1988,Y,N,N,N,N,N,...,146,103.753712,1.376685,21231.245169,18692.3,23.481667,18746.3,23.641667,18746.3,23.641667
2158,101,TECK WHYE LANE,13,1988,Y,N,N,N,N,N,...,149,103.760140,1.380321,20921.414088,17995.8,22.936667,18746.3,23.641667,18746.3,23.641667
2159,101,TECK WHYE LANE,13,1988,Y,N,N,N,N,N,...,107,103.758034,1.378619,20966.206584,18154.7,22.730000,18746.3,23.641667,18746.3,23.641667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2250,121,TECK WHYE LANE,11,1988,Y,N,N,N,N,N,...,149,103.760140,1.380321,20921.414088,17995.8,22.936667,22957.6,25.985000,22957.6,25.985000
2251,121,TECK WHYE LANE,11,1988,Y,N,N,N,N,N,...,107,103.758034,1.378619,20966.206584,18154.7,22.730000,22957.6,25.985000,22957.6,25.985000
2252,122,TECK WHYE LANE,11,1988,Y,N,N,Y,N,N,...,72,103.749055,1.378603,21961.046526,22293.6,23.813333,22955.2,26.088333,22955.2,26.088333
2253,122,TECK WHYE LANE,11,1988,Y,N,N,Y,N,N,...,146,103.753712,1.376685,21231.245169,18692.3,23.481667,22955.2,26.088333,22955.2,26.088333
2254,122,TECK WHYE LANE,11,1988,Y,N,N,Y,N,N,...,149,103.760140,1.380321,20921.414088,17995.8,22.936667,22955.2,26.088333,22955.2,26.088333